---
# tests of the checks required by CI, i.e. test tests
name: ci-test

on:
  push:
    branches:
      - '**'
    paths:
      - '.clang-tidy'
      - '.devcontainer/**'
      - '.github/ci-test**'
      - 'conanfile.txt'
  workflow_dispatch:

jobs:
  tests:
    name: CI test
    runs-on: ubuntu-latest
    env:
      image_tag: 1
      PROJECT_SUBDIRECTORY: ".github/workflows/ci-test/"

    strategy:
      matrix:
        include:
          - devcontainer: clang-debug
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
          - devcontainer: clang-debug
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
          - devcontainer: clang-debug
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

          - devcontainer: clang-test
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
          - devcontainer: clang-test
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
          - devcontainer: clang-test
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

          - devcontainer: clang-test-tsan
            flag: TRIGGER_MT_BUG
            compiles: 1
          - devcontainer: clang-test-tsan
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

          - devcontainer: clang-tidy
            flag: TRIGGER_CCG_VIOLATION
            compiles: 0
          - devcontainer: clang-tidy
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
          - devcontainer: clang-tidy
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
          - devcontainer: clang-tidy
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

          - devcontainer: gcc-debug
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
          - devcontainer: gcc-debug
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
          - devcontainer: gcc-debug
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

          - devcontainer: gcc-test
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
          - devcontainer: gcc-test
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
          - devcontainer: gcc-test
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build successful tests
        if: ${{ matrix.compiles }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          env: ${{ matrix.flag }}=1
          imageName: ghcr.io/johnmcfarlane/simple-cpp/ci-test-${{ matrix.devcontainer }}
          imageTag: ${{ env.image_tag }}
          runCmd: "cmake --build $BUILD_DIR"

      - name: Build unsuccessful tests
        if: ${{ ! matrix.compiles }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          env: ${{ matrix.flag }}=1
          imageName: ghcr.io/johnmcfarlane/simple-cpp/ci-test-${{ matrix.devcontainer }}
          imageTag: ${{ env.image_tag }}
          runCmd: "! cmake --build $BUILD_DIR"

      - name: Run tests unsuccessfully
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          imageName: ghcr.io/johnmcfarlane/simple-cpp/ci-test-${{ matrix.devcontainer }}
          imageTag: ${{ env.image_tag }}
          runCmd: "! ctest --output-on-failure --test-dir $BUILD_DIR"
