---
# tests of the checks required by CI, i.e. test tests
name: ci-test

on:
  push:
    branches:
      - '**'
    paths:
      - .clang-tidy
      - .devcontainer/**
      - .github/**
      - conanfile.txt
      - src/ci-test/**
  workflow_dispatch:

jobs:
  tests:
    name: CI test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - devcontainer: clang-debug
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: clang-debug
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-debug
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-debug
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0
            passes: 0

          - devcontainer: clang-release
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: clang-release
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 1
          - devcontainer: clang-release
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 1
          - devcontainer: clang-release
            flag: TRIGGER_COMPILER_WARNING
            compiles: 1
            passes: 1 

          - devcontainer: clang-test
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: clang-test
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-test
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-test
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0
            passes: 0

          - devcontainer: clang-tidy
            flag: TRIGGER_CCG_VIOLATION
            compiles: 0
            passes: 0
          - devcontainer: clang-tidy
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-tidy
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 0
          - devcontainer: clang-tidy
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0
            passes: 0

          - devcontainer: gcc-debug
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: gcc-debug
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 0
          - devcontainer: gcc-debug
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 0
          - devcontainer: gcc-debug
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0
            passes: 0

          - devcontainer: gcc-release
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: gcc-release
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 1
          - devcontainer: gcc-release
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 1
          - devcontainer: gcc-release
            flag: TRIGGER_COMPILER_WARNING
            compiles: 1
            passes: 1

          - devcontainer: gcc-test
            flag: TRIGGER_CCG_VIOLATION
            compiles: 1
            passes: 1
          - devcontainer: gcc-test
            flag: TRIGGER_INTEGER_BUG
            compiles: 1
            passes: 0
          - devcontainer: gcc-test
            flag: TRIGGER_STDLIB_BUG
            compiles: 1
            passes: 0
          - devcontainer: gcc-test
            flag: TRIGGER_COMPILER_WARNING
            compiles: 0
            passes: 0

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Build successful tests
        if: ${{ matrix.compiles }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          env: ${{ matrix.flag }}=1
          runCmd: "cmake --build $BUILD_DIR"

      - name: Build unsuccessful tests
        if: ${{ ! matrix.compiles }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          env: ${{ matrix.flag }}=1
          runCmd: "! cmake --build $BUILD_DIR"

      - name: Run tests successfully
        if: ${{ matrix.passes }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          runCmd: "ctest --output-on-failure --test-dir $BUILD_DIR"

      - name: Run tests unsuccessfully
        if: ${{ ! matrix.passes }}
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/${{ matrix.devcontainer }}/devcontainer.json
          runCmd: "! ctest --output-on-failure --test-dir $BUILD_DIR"
